body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
.container{
    flex:1;
}

/* navbar */

.navbar{
    height: 5rem;
    background-color: white;
}
.fa-earth-americas{
  font-size: 1.9rem;
  color:#fe424d ;
  text-align: center;  
}
.nav-link {
    color: #222222 !important;
}





/* footer */
.privacy-policy a {
    text-decoration: none;
    color: #222222;
}
.privacy-policy a:hover{
    text-decoration: underline;
}
.f-social , .privacy-policy ,.company-term {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-social i {
    margin-right: 1rem;
    font-size: 1.2rem;
}
.ftr-info{
    text-align: center;
    height:8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}



/* cards */

.listings-card{
   border: none !important; 
   margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover;
}
.card-body{
    padding: 0 !important;
}

.card-text p {
 font-weight: 400;
}

.listing-link{
    text-decoration: none;
}
/* card effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{ 
    opacity: 0.2;
    background-color: white;
}

/* new page add */

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}


/* show img */
.show-img{
    height: 30vh;
}

 .btns{
    display: flex;
    
 }

 .show-btn {
    background-color: #fe424d !important;
 border: none !important;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}
   
.edit-img{
    height: 100px; 
    width: 100px;
}


#map { height: 400PX;
width: 80vh; }


#filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.filter{
    text-align: center;
    margin-right: 2rem;
     margin-top: 2rem; 
     opacity: 0.7;
}
.filter:hover{
    opacity: 1;
    cursor: pointer;
    border-bottom: 1px solid #222222;
}

.filter p {
    font-size: 0.8rem;
}


.tax-info{
    display: none;
}

.taxToggle{
    border: 1px solid black;
    padding: 1rem;
    height: 3.2rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    margin-left: 4rem;
}

.btn-search{
    background-color: #fe424d;
    color: #ebebeb;
    border: none;
    border-radius: 25rem;
    padding: 0, 1rem, 0, 1rem;
    
} 
.search{
    border-radius: 25rem;
}

